/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* modificaciones preestablecidas */
div {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

/* variables de colores */
:root {
    --color-main: #FF7300;
    --color-main1: #ffa65e;
    --color-main2: #FD4646;
    --color-main3: #ff7b7b;
    --color-negro: #000000;
    --color-blanco: #FFFFFF;
}


/**************************** cabecera ****************************/
header {
    background-color: var(--color-blanco);
    position: sticky;
    top: 0;
    width: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.logo {
    color: var(--color-blanco);
    background-color: #FF7300;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 2rem;
    padding: 0.25rem;
}

.icon-carrito {
    font-size: 1.5rem;
    margin-right: 2rem;
    color: var(--color-negro);
}

/************************ tienda de productos ************************/
main {
    margin: 1rem;
    padding: 2rem;
}

.titulo-principal {
    color: var(--color-negro);
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
}

.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    border-top: 1px solid var(--color-negro);
}

.producto {
    position: relative;
    margin-top: 2rem;
}

.producto:hover {
    padding: 16px;
    border: 1px solid var(--color-negro);
    transition: 0.3s;
}

.producto-img {
    max-width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.productos-info {
    background-color: var(--color-main);
    color: var(--color-blanco);
    padding: 0.5rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.producto-agregar {
    background-color: var(--color-blanco);
    border: 2px solid var(--color-blanco);
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem;
    cursor: pointer;
    margin: end;
}

.producto-agregar:hover {
    background-color: var(--color-negro);
    color: var(--color-blanco);
}

.icon-carrito {
    font-size: 2rem;
}

.icon-bolsa {
    font-size: 1.2rem;
}

/************************ footer ************************/
footer {
    background-color: var(--color-main);
    color: var(--color-blanco);
    padding: 2rem;
    display: flex;
    justify-content: center;
    font-weight: 400;
}


/************************ carrito ************************/
.boton-regresar {
    border: 0;
    border-radius: 0.5rem;
    color: var(--color-main);
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem;
    position: absolute;
    top: 1.3rem;
    right: 6.5rem;
}

/* carrito vacio */
.carrito-vacio,
.carrito-comprado {
    color: var(--color-negro);
    text-align: center;
    margin-bottom: 2rem;
}
/* c vacio */
.carrito-vacio {
    position: absolute;
    background-color: var(--color-negro);
    color: var(--color-blanco);
    padding: 1rem 2rem;
}

.carrito-img {
    background-image: url("../img/vacio.png");
    background-position: center;
    background-size: cover;
    height: 100vh;
}
/* c comprado */
.carrito-comprado {
    font-size: 2rem;
    margin-top: 6rem;
    height: 100vh;
}
.icono-comprado {
    color: green;
    font-size: 2rem;
} 

/* titulo carrito */
.titulo-principal-carrito {
    color: var(--color-negro);
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
}

/* caja de carrito */
.carrito-productos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    border-top: 1px solid var(--color-negro);
}

.carrito-producto-img {
    max-width: 100%;
    border: 1px solid var(--color-negro);
}

.carrito-producto {
    background-color: var(--color-main);
    color: var(--color-negro);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 1rem;
}

/* informacion carrito */
.carrito-producto-info {
    font-weight: 600;
    padding: 0.5rem;
    color: var(--color-blanco);
}

.carrito-producto-cantidad {
    border-top: 1px solid var(--color-blanco);
    font-weight: 600;
    padding: 0.5rem;
    color: var(--color-blanco);
}

.carrito-producto-precio {
    border-top: 1px solid var(--color-blanco);
    font-weight: 600;
    padding: 0.5rem;
    color: var(--color-blanco);
}

/* boton eliminar */
.carrito-producto-eliminar {
    margin: 0;
    font-size: 1.2rem;
    border: 0;
    border-radius: 0.5rem;
    background-color: var(--color-negro);
    color: var(--color-main2);
    padding: 0.5rem;
    cursor: pointer;
}

/* accion total y finalizar compra */
.carrito-acciones {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    padding: 2rem;
    border-top: 2px solid var(--color-blanco);
    border-bottom: 2px solid var(--color-blanco);
    color: var(--color-blanco)
}

/* total */
.total-carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    background-color: var(--color-negro);
    padding: 1rem;
}

/* finalizar compra */
.carrito-comprar {
    background-color: var(--color-main);
    color: var(--color-blanco);
    border: 2px solid var(--color-main);
    padding: 1.5rem 1.5rem;
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-comprar:hover {
    background-color: var(--color-blanco);
    color: var(--color-main);
}

/************************ ocultos carrito ************************/
.disabled {
    display: none;
}


/************************ Media queries ************************/
@media screen and (max-width: 1080px) {

    .contenedor-productos,
    .carrito-productos {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 850px) {

    .contenedor-productos,
    .carrito-productos {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 675px) {

    .contenedor-productos,
    .carrito-productos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 420px) {

    .logo {  
        margin-left: 1rem;     
    }
    
    .icon-carrito {
        margin-right: 1rem; 
    }

    .contenedor-productos,
    .carrito-productos {
        grid-template-columns: 1fr;
    }

    .boton-regresar {
        font-size: 1rem;
        top: 1.6rem;
        right: 4.5rem;
        transition: 0.4s;
    }

    .carrito-vacio {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
        transition: 0.4s;
    }

}